<!-- Seção do cabeçalho, imports de CSS e scripts -->
<%- include('layout/header') %>

<link rel="stylesheet" type="text/css" href="/css/style.css" />

<div class="container" style="margin-top: 20px;">
  <div class="presenca-admin">
    <h3 style="margin-bottom: 20px;">Inserir Presença dos Alunos</h3>
    <!-- Formulário para inserir presença dos alunos -->
    <form action="/inserir-presenca" method="POST">
      <!-- Campo para selecionar o campus -->
      <div class="form-group">
        <label for="campus">Campus:</label>
        <select id="campus" name="campus" class="form-control" required>
          <option value="" disabled selected>Selecione um campus</option>
        </select>
      </div>

      <!-- Campo para selecionar a turma -->
      <div class="form-group">
        <label for="turmas">Turma:</label>
        <select id="turmas" name="turmas" class="form-control" required>
          <option value="" disabled selected>Selecione uma turma</option>
        </select>
      </div>

      <!-- Campo para selecionar a disciplina -->
      <div class="form-group">
        <label for="disciplina">Disciplina:</label>
        <select id="disciplina" name="disciplina" class="form-control" required>
          <option value="" disabled selected>Selecione uma disciplina</option>
        </select>
      </div>

      <!-- Campo para selecionar a data -->
      <div class="form-group">
        <label for="data">Data:</label>
        <input type="date" id="data" name="data" class="form-control" required>
      </div>

      <!-- Campo para os checkboxes dos alunos -->
      <div class="form-group">
        <div id="alunos-checkboxes"></div>
      </div>

      <!-- Campo para anotações -->
      <div class="form-group">
        <p><label for="w3review">Anotações</label></p>
        <textarea id="w3review" name="w3review" rows="4" cols="50" class="form-control"></textarea>
      </div>

      <!-- Botão para inserir presença -->
      <button type="submit" class="btn btn-primary">Inserir Presença</button>
    </form>
    <% console.log(title) %>
  </div>
</div>


<!-- Seção de scripts -->
<!-- Script para preencher dinamicamente o campo de disciplina com base nos professores -->
<script>
  // Fazer a requisição AJAX para buscar as disciplinas associadas ao professor logado
  let turmasId = []
  fetch('/dados-professor')
    .then(response => response.json())
    .then(data => {
      var disciplinaSelect = document.getElementById('disciplina');
      var campusSelect = document.getElementById('campus');
      var turmasSelect = document.getElementById('turmas');

      data.disciplinas.forEach(disciplina => {
        var option = document.createElement('option');
        option.value = disciplina._id; 
        option.textContent = disciplina.nome; 
        disciplinaSelect.appendChild(option);
      });
      let turmas = []
      data.campus.forEach(campus => {
        var option = document.createElement('option');
        option.value = campus._id; 
        option.textContent = campus.nome; 
        campusSelect.appendChild(option);
        turmas = campus.turmas
      });
      data.turmas.forEach(turma => {
        console.log(turma)
        turmasId.push(turma)
      });

    })
    .catch(error => {
      console.error('Erro ao buscar as disciplinas:', error);
    });


    async function getTurmas(){
      const campusId = document.getElementById('campus').value;
      var turmasSelect = document.getElementById('turmas');
      turmasSelect.innerHTML = '';
      var option = document.createElement('option');
      option.textContent = 'Selecione uma turma' 
      option.disabled = true;
      option.selected = true;
      turmasSelect.appendChild(option)
      turmasId.map(async turma => {
        const response = await fetch(`/nome-turma/${campusId}/${turma}`);
        const response_json = await response.json();
        const numero = response_json[0]
        if (numero != undefined){
          var option = document.createElement('option');
          option.value = turma;
          option.textContent = numero; 
          turmasSelect.appendChild(option); 
          console.log("response: ",  numero)
        }
        else{
          console.log('indefinido')
        }
      });


    }
    
  document.getElementById('turmas').addEventListener('change', function() {
    const campusSelect = document.getElementById('campus')
    const turmaSelect = document.getElementById('turmas')
    fetch(`/dados-turma/${campusSelect.value}/${turmaSelect.value}`)
      .then(response => response.json())
      .then(data => {
      
        var alunosCheckboxesDiv = document.getElementById('alunos-checkboxes');
        alunosCheckboxesDiv.innerHTML = '';
        data = data[0].alunos
        data.forEach(aluno => {
          console.log(aluno)
          var checkboxLabel = document.createElement('label');
          checkboxLabel.setAttribute('for', aluno._id);
          checkboxLabel.textContent = aluno.nome;

          var checkboxInput = document.createElement('input');
          checkboxInput.type = 'checkbox';
          checkboxInput.name = 'alunos';
          checkboxInput.value = aluno._id;
          checkboxInput.id = aluno._id;
          checkboxInput.className = 'alunoscheckbox'

          checkboxLabel.appendChild(checkboxInput);
          alunosCheckboxesDiv.appendChild(checkboxLabel);
          alunosCheckboxesDiv.appendChild(document.createElement('br')); // Adicionar quebra de linha para separar as checkboxes
        });
      })
      .catch(error => {
        console.error('Erro ao buscar os alunos:', error);
      });
  });

  document.addEventListener("DOMContentLoaded", function() {
    var selectElement = document.getElementById("campus");

    selectElement.addEventListener("change", function() {
      var selectedOption = this.options[this.selectedIndex].value;
      getTurmas()
      // Faça algo com a opção selecionada aqui
    });
  });

  async function enviarr() {

    const alunos_array = [];
    const campus = document.getElementById('campus').value;
    const turma = document.getElementById('turmas').value;
    const disciplina = document.getElementById('disciplina').value;
    const data = document.getElementById('data').value;
    console.log(campus)
    console.log(turma)
    console.log(disciplina)
    console.log(data)
    anotacao = document.getElementById('w3review').value
    const alunos = document.getElementsByName('alunos');
    alunos.forEach(aluno => {
        if (aluno.checked) {
            alunos_array.push(aluno.value);
        }
    });

    const dados = {
        campus: campus,
        turma: turma,
        disciplina: disciplina,
        presencas: alunos_array,
        anotacao: anotacao,
        data: data,
      };
      
      
      const requestOptions = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(dados)
      };
      console.log(alunos_array)

    try {
        const response = await fetch('/presenca', requestOptions);
        
        if (!response.ok) {
            throw new Error('Erro ao enviar os dados.');
        }
        
        alert('Dados salvos com sucesso!')
        window.location.reload();
    } catch (error) {
        console.error('Erro:', error);
        alert('Erro ao enviar os dados')
    }
}

</script>

<%- include('layout/footer') %>
